{% extends 'base.html' %}
{% block title %}
  MyTODOList 
{% endblock %}
{% block body %}
    <div class="container">
        <h1>Todo List</h1>
        <form action="\" method="POST">
        <input type="text" name="name" id="taskInput" placeholder="Enter a new task">
        <input type="text" name="des" id="descInput" placeholder="Describe ur task">
        <div class="d-grid gap-2 col-6 mx-auto">
          <button id="addButton" class="btn btn-primary">Add Task</button>
        </div>
        
        
        </form>
        {% if alltodo|length==0 %}
        <p>No ToDo Tasks</p>
        {% else %}
        <p>Your ToDo Tasks : - </p>
        <table id="taskTable">
            <thead>
                <tr>
                    <th>Sno.</th>
                    <th>Task</th>
                    <th>Description</th>
                    <th>Date / Time</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="taskList">
              {%for todo in alltodo%}
                <tr>
                  <td>{{todo.sno}}</td>
                  <td>{{todo.name}}</td>
                  <td>{{todo.des}}</td>
                  <td>{{todo.date}}</td>
                  <td>
                      <a href="/update/{{todo.sno}}" button class="btn btn-outline-success" type="button">Update</button>
                      <a href="/delete/{{todo.sno}}" button class="btn btn-outline-danger" type="button">Delete</button>
                      </td>
                
                </tr>
              {% endfor %}
              {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}
